* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

.hidden{
  display: none;
}

.circles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

body {
  font-family: 'Dosis', sans-serif;
  background-image: linear-gradient(to right top, #19d099, #ff0040);
  background-attachment: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: yellow;
  max-width: 1200px;
}

button {
  font-family: inherit;
  font-size: inherit;
  background-color: #f3f3f3;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  margin: 5rem 1rem;
  cursor: pointer;
}